.block
  %p
    Web アプリケーション・DB の設計などが得意です。
  %p
    Web アプリケーションの設計では見通しが良く変更しやすいコードをどのように書くかということを重視しており、DB の設計では RDBMS を活かした堅牢な設計を重視しつつ現実との間で折り合いをつけることを心がけています。

.block
  %h2 過去実績
  %table
    %tbody
      %tr
        %td.nowrap
          %a{ href: 'https://balloonfrom.com/', target: :_blank } Balloon, Inc.
        %td
          アプリケーションの設計を中心とした技術全般の相談、イベント企画
      %tr
        %td.nowrap
          %a{ href: 'http://agrigate.co.jp/', target: :_blank } 株式会社アグリゲート
        %td
          在庫管理 Web アプリケーションの開発・運用、受注管理 Web アプリケーションの開発・運用
