.block
  %table
    %thead
      %tr
        %td Year
        %td Base [JPY]
        %td Bonus [JPY]
    %tbody
      %tr
        %td 2018
        %td 5,802,000
        %td 200,000
      %tr
        %td 2017
        %td 4,728,000
        %td 50,000
      %tr
        %td 2016
        %td 4,500,000
        %td 0
