.block
  %table
    %thead
      %tr
        %td Year
        %td Amount [JPY]
        %td Bonus [JPY]
    %tbody
      %tr
        %td 2016
        %td 4,500,000
        %td 0
      %tr
        %td 2017
        %td 4,728,000
        %td 50,000
