%h1 Basic Info

%ul
  %li OSA Shunsuke
  %li Web Application Developer
  %li Tokyo, Japan

%h1 Links

%ul
  %li
    Email:
    %a{ href: 'mailto:hhelibebcnofnenamg@gmail.com' } hhelibebcnofnenamg@gmail.com
  %li
    GitHub:
    %a{ href: 'https://github.com/s-osa', target: :_blank } s-osa
  %li
    Twitter:
    %a{ href: 'https://twitter.com/s_osa_', target: :_blank } @s_osa_
  %li
    Facebook:
    %a{ href: 'https://www.facebook.com/shunsuke.osa', target: :_blank } shunsuke.osa
  %li
    Blog:
    %a{ href: 'http://osa.hatenablog.com/', target: :_blank } ネットの海の片隅で
  %li
    Speaker Deck:
    %a{ href: 'https://speakerdeck.com/osa', target: :_blank } osa
  %li
    Instagram:
    %a{ href: 'https://www.instagram.com/sh_osa/', target: :_blank } sh_osa

%h1 Talks

%ul
  %li
    %a{ href: 'https://techconf.cookpad.com/2017/s-osa.html', target: :_blank } 「組織全体でGitHubを使うようになるまで」 / Cookpad Techconf 2017, 2017-01-21

%h1 Certificates

%ul
  %li 基本情報技術者
  %li 応用情報技術者
  %li 情報セキュリティスペシャリスト
  %li データベーススペシャリスト
  %li AWS Solutions Architect Associate
  %li LPIC Level 1 (inactive)
