.block
  %h2 Basic Info

  %ul
    %li OSA Shunsuke
    %li Web Application Developer
    %li Tokyo, Japan

.block
  %h2 Links

  %ul
    %li
      Email:
      %a{ href: 'mailto:hhelibebcnofnenamg@gmail.com' } hhelibebcnofnenamg@gmail.com
    %li
      GitHub:
      %a{ href: 'https://github.com/s-osa', target: :_blank } s-osa
    %li
      Twitter:
      %a{ href: 'https://twitter.com/s_osa_', target: :_blank } @s_osa_
    %li
      Facebook:
      %a{ href: 'https://www.facebook.com/shunsuke.osa', target: :_blank } 長 俊祐
    %li
      Blog:
      %a{ href: 'http://osa.hatenablog.com/', target: :_blank } ネットの海の片隅で
    %li
      Speaker Deck:
      %a{ href: 'https://speakerdeck.com/osa', target: :_blank } osa
    %li
      Instagram:
      %a{ href: 'https://www.instagram.com/sh_osa/', target: :_blank } sh_osa
    %li
      Booklog:
      %a{ href: 'http://booklog.jp/users/sosa', target: :_blank } sosa

.block
  %h2 Talks

  %ul
    %li
      %a{ href: 'https://techconf.cookpad.com/2017/s-osa.html', target: :_blank } 「組織全体でGitHubを使うようになるまで」 / Cookpad Techconf 2017, 2017-01-21

.block
  %h2 Certificates

  %ul
    %li 基本情報技術者
    %li 応用情報技術者
    %li 情報セキュリティスペシャリスト
    %li データベーススペシャリスト
    %li
      %a{ href: 'https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2017-11-13&ci=AWS00322226', target: :_blank } AWS Solutions Architect Associate
    %li LPIC Level 1 (inactive)
